body {
  background-image:url('rainbowprismstar3.jpg');
    background-size: 220px, 220px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size:22px;
  color: white;
  }
  
/*Everything in the main box goes in this*/
.wrapper {
  width: 1000px;
  margin: 0 auto;
  top: 0px;
  }
    
  }
  
/*This and the header-title class are deprecated now that this style uses a background image for the header div.*/
/*.header img {
  display: block;
  opacity: 0.35;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
*/

 /*If you want to use a smaller title or normal text, add .header p or .header h4 or whatever to the list*/
.header h2, .header h3, .header h1 {
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 18% auto; /*approx centered*/
  opacity: 0.999999;
}

.links {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  text-align: center;
    color: black;
  }

.title {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size:50px;
  }  

    

@media (orientation: portrait), (max-width: 480x) {
   .links img {
       max-width: 90% !important;
       height: auto !important;
       }
    
@media (orientation: portrait), (max-width: 480x) {
   .links, .links a {
       font-size: 20px !important;
    }
    
@media (orientation: portrait), (max-width: 480x) {
   .title {
       font-size: 30px !important;
    }
    
@media (orientation: portrait), (max-width: 480x) {
   iframe {
    width: 80% !important;
    height:400px !important;
    }


.links a {
  color: red;
  padding: 3px;
  margin-left: 5px;
  margin-right:5px;
  font-size:22px;
  }

.main {
  padding: 15px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
    text-align: left;
  }
  
/*Prevent overflow of large images in main text areas.*/
.main img {
  max-width: 100%;
  height: auto;
  }

.subtitle {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:22px;
      text-align: center;
  }
  
.footer {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:15px;
  }

#niuplayer {
    border: solid 5px black;
    padding: 1em;
    border-radius:20px;
    background-color: #c2c2c2;
}
#niuplayer button {
    background-color: #fff;
    border: solid 5px black;
    padding: 0.5em;
    border-radius:20px;
}
